#ignore sandbox directory
sandbox/*
#ignore all pycache dirs
__pycache__/
# ignore all logfiles 
*.log
# ignore sphinx build
build/
# ignore eggs
*.egg*

# ignore python3 coverage files
htmlcov/
.coverage
# ignore .bak files
*.bak
# ignore .csv files
*.csv
# ignore .tcl files
*.tcl
# ignore tarballs & zips
*.tar.gz
*.tar
*.zip
